.gi-application-form {
    a{
        color: var(--bs-gc-color);
    }
    section{
        --bs-ilsc-color: #83cfcb;
        --bs-gc-color: #81b0cb;
        
        .btn-orange{
            background-color: var(--bs-gc-color);
            border-color: var(--bs-gc-color);
            &:hover{
                border-color: var(--bs-ilsc-color) !important;
            }
        }
        .btn-orange-outline{
            color: var(--bs-gc-color);
            border-color: var(--bs-gc-color);
            &:hover{
                background-color: var(--bs-gc-color);
                color: #fff;
            }
        }
        &.section-application-form{
            .step-container{
                .btn-container{
                    button{
                        &.btn-orange{
                            &:hover{
                                border-color: var(--bs-ilsc-color) !important;
                            }
                        }
                    }
                }
                ul{
                    &.applicant-status-boxes{
                        li{
                            label{
                                .box-color{
                                    &:before{
                                        border-top: 3px solid var(--bs-ilsc-color);
                                        border-bottom: 3px solid var(--bs-ilsc-color);
                                    }
                                    &:after{
                                        border-left:3px solid var(--bs-ilsc-color);
                                        border-right:3px solid var(--bs-ilsc-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .app-step-container{
      .lds-ring div {
        border-color: var(--bs-ilsc-color) transparent transparent transparent;
      }
    }
    .ui-datepicker {
        .ui-datepicker-prev,.ui-datepicker-next{
            span{
                background-color: #6c757d !important;
            }
        }
        td{
            a{
                background-color: #6c757d !important;
                &:hover{
                    color: #fff !important;
                }
            }
        }
    }
}